.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center {
    position: relative;
    max-width: inherit;
    width: 100vw;
    margin: auto -50vw;
    background: #f4f4f4;
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div {
    margin: auto;
}
@media (min-width: 992px) {
    .InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div {
        max-width: 72rem;
    }
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div a img.image {
    min-height: 200px;
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div .flex.flex-wrap.flex.flex-wrap.px-0.pb-5 > a.p-2 {
    position: relative;
    padding-top: 0;
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div .flex.flex-wrap.flex.flex-wrap.px-0.pb-5 > a.p-2:hover {
    box-shadow: none;
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div a .relative {
    margin-bottom: 10px;
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div .flex.flex-wrap.flex.flex-wrap.px-0.pb-5 > a.p-2 > p.w-full.text-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 16px;
    margin: auto .5rem;
    font-family: 'Southwest Sans' !important;
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div .flex.flex-wrap.flex.flex-wrap.px-0.pb-5 > a.p-2 .relative > .flex {
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%);
}
.InterlinkRoutes.w-full.max-w-full.lg\:max-w-6xl.self-center > div .flex.flex-wrap.flex.flex-wrap.px-0.pb-5 > a.p-2 .relative > .flex p {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 16px;
    margin: auto .5rem;
    font-family: 'Southwest Sans' !important;
}
